In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2014 =pd.read_csv('table-2-(2014-15).csv', low_memory=False)
df_2015 =pd.read_csv('table-2-(2015-16).csv', low_memory=False)
df_2016 =pd.read_csv('table-2-(2016-17).csv', low_memory=False)
df_2017 =pd.read_csv('table-2-(2017-18).csv',low_memory=False)
df_2018 =pd.read_csv('table-2-(2018-19).csv',low_memory=False)
df_2019 =pd.read_csv('table-2-(2019-20).csv',low_memory=False)
df_2020 =pd.read_csv('table-2-(2020-21).csv',low_memory=False)

In [3]:
df_2014.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Total,Total,1345.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20.0

In [4]:
df_2015.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Total,Total,1270.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,White,1010.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Black,25.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Asian,130.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Mixed,20.0

In [5]:
df_2016.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Total,Total,1195.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,White,960.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,Black,20.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,Asian,120.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,Mixed,15.0

In [6]:
df_2017.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Total,Total,1140.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,White,920.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,Black,15.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,Asian,115.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,Mixed,15.0

In [7]:
df_2018.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Total,Total,1115.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,White,900.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,Black,15.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,Asian,115.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,Mixed,20.0

In [8]:
df_2019.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Total,Total,1155.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,White,915.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,Black,25.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,Asian,125.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,Mixed,20.0

In [9]:
df_2020.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Total,Total,1190.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,White,925.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,Black,25.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,Asian,135.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,Mixed,25.0

In [10]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551195 entries, 0 to 551194
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   UKPRN                   525228 non-null  float64
 1   HE Provider             551195 non-null  object
 2   Country of HE provider  551195 non-null  object
 3   Region of HE provider   551195 non-null  object
 4   Terms of employment     551195 non-null  object
 5   Contract levels         551195 non-null  object
 6   Atypical marker         551195 non-null  object
 7   Contract marker         551195 non-null  object
 8   Academic Year           551195 non-null  object
 9   Category Marker         551195 non-null  object
 10  Category                551195 non-null  object
 11  Number                  537188 non-null  float64
dtypes: float64(2), object(10)
memory usage: 50.5+ MB

In [11]:
df_all =pd.concat([df_2014,df_2015,df_2016,df_2017,df_2018,df_2019,df_2020], ignore_index = True)

In [12]:
df_all.info

<bound method DataFrame.info of               UKPRN                 HE Provider Country of HE provider  \
0        10007783.0  The University of Aberdeen               Scotland
1        10007783.0  The University of Aberdeen               Scotland
2        10007783.0  The University of Aberdeen               Scotland
3        10007783.0  The University of Aberdeen               Scotland
4        10007783.0  The University of Aberdeen               Scotland
...             ...                         ...                    ...
4072490         NaN                       Total                England
4072491         NaN                       Total                England
4072492         NaN                       Total                England
4072493         NaN                       Total                England
4072494         NaN                       Total                England

            Region of HE provider   Terms of employment       Contract levels  \
0                        Scotland  Open-ended/Permanent  Other contract level
1                        Scotland  Open-ended/Permanent  Other contract level
2                        Scotland  Open-ended/Permanent  Other contract level
3                        Scotland  Open-ended/Permanent  Other contract level
4                        Scotland  Open-ended/Permanent  Other contract level
...                           ...                   ...                   ...
4072490  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072491  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072492  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072493  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072494  Yorkshire and The Humber  Open-ended/Permanent             Professor

        Atypical marker           Contract marker Academic Year  \
0          Non-atypical                  Academic       2014/15
1          Non-atypical                  Academic       2014/15
2          Non-atypical                  Academic       2014/15
3          Non-atypical                  Academic       2014/15
4          Non-atypical                  Academic       2014/15
...                 ...                       ...           ...
4072490    Non-atypical  All (excluding atypical)       2020/21
4072491    Non-atypical  All (excluding atypical)       2020/21
4072492    Non-atypical  All (excluding atypical)       2020/21
4072493    Non-atypical  All (excluding atypical)       2020/21
4072494    Non-atypical  All (excluding atypical)       2020/21

        Category Marker     Category  Number
0                 Total        Total  1345.0
1             Ethnicity        White  1095.0
2             Ethnicity        Black    25.0
3             Ethnicity        Asian   130.0
4             Ethnicity        Mixed    20.0
...                 ...          ...     ...
4072490       Age group  66 and over     NaN
4072491       Age group  Age Unknown     NaN
4072492             Sex       Female     NaN
4072493             Sex         Male     NaN
4072494             Sex        Other     NaN

[4072495 rows x 12 columns]>

In [13]:
df_all.isna().sum()

UKPRN                     191199
HE Provider                    0
Country of HE provider         0
Region of HE provider          0
Terms of employment            0
Contract levels                0
Atypical marker                0
Contract marker                0
Academic Year                  0
Category Marker                0
Category                       0
Number                    360065
dtype: int64

In [14]:
df_all.duplicated().sum()

0

In [15]:
#df_all.to_csv("table_2014_2021_clean.csv")
df_all.dropna(subset =['UKPRN'])

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Total,Total,1345.0
1,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095.0
2,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25.0
3,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130.0
4,10007783.0,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4062485,10007167.0,The University of York*,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Age group,66 and over,NaN
4062486,10007167.0,The University of York*,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Age group,Age Unknown,NaN
4062487,10007167.0,The University of York*,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Sex,Female,NaN
4062488,10007167.0,The University of York*,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Sex,Male,NaN
4062489,10007167.0,The University of York*,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Sex,Other,NaN

In [16]:
df_all.info

<bound method DataFrame.info of               UKPRN                 HE Provider Country of HE provider  \
0        10007783.0  The University of Aberdeen               Scotland
1        10007783.0  The University of Aberdeen               Scotland
2        10007783.0  The University of Aberdeen               Scotland
3        10007783.0  The University of Aberdeen               Scotland
4        10007783.0  The University of Aberdeen               Scotland
...             ...                         ...                    ...
4072490         NaN                       Total                England
4072491         NaN                       Total                England
4072492         NaN                       Total                England
4072493         NaN                       Total                England
4072494         NaN                       Total                England

            Region of HE provider   Terms of employment       Contract levels  \
0                        Scotland  Open-ended/Permanent  Other contract level
1                        Scotland  Open-ended/Permanent  Other contract level
2                        Scotland  Open-ended/Permanent  Other contract level
3                        Scotland  Open-ended/Permanent  Other contract level
4                        Scotland  Open-ended/Permanent  Other contract level
...                           ...                   ...                   ...
4072490  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072491  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072492  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072493  Yorkshire and The Humber  Open-ended/Permanent             Professor
4072494  Yorkshire and The Humber  Open-ended/Permanent             Professor

        Atypical marker           Contract marker Academic Year  \
0          Non-atypical                  Academic       2014/15
1          Non-atypical                  Academic       2014/15
2          Non-atypical                  Academic       2014/15
3          Non-atypical                  Academic       2014/15
4          Non-atypical                  Academic       2014/15
...                 ...                       ...           ...
4072490    Non-atypical  All (excluding atypical)       2020/21
4072491    Non-atypical  All (excluding atypical)       2020/21
4072492    Non-atypical  All (excluding atypical)       2020/21
4072493    Non-atypical  All (excluding atypical)       2020/21
4072494    Non-atypical  All (excluding atypical)       2020/21

        Category Marker     Category  Number
0                 Total        Total  1345.0
1             Ethnicity        White  1095.0
2             Ethnicity        Black    25.0
3             Ethnicity        Asian   130.0
4             Ethnicity        Mixed    20.0
...                 ...          ...     ...
4072490       Age group  66 and over     NaN
4072491       Age group  Age Unknown     NaN
4072492             Sex       Female     NaN
4072493             Sex         Male     NaN
4072494             Sex        Other     NaN

[4072495 rows x 12 columns]>

In [17]:
df_all.UKPRN.isnull().sum()

191199

In [18]:
df_all =df_all.dropna(subset =['UKPRN'])
df_all =df_all.reset_index(drop=True)

In [19]:
df_all['UKPRN'] =df_all['UKPRN'].astype(int)

In [20]:
df_all.head(2)

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Total,Total,1345.0
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095.0

In [21]:
df_all =df_all.dropna(subset =['Number'])
df_all =df_all.reset_index(drop=True)

In [22]:
df_all['Number'] =df_all['Number'].astype(int)

In [23]:
df_all.head(2)

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Total,Total,1345
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095

In [24]:
df_all = df_all[df_all.Number !=0]

In [25]:
df_all.shape

(2376303, 12)

In [26]:
#df_all.drop(df_all[df_all['HE Provider']!=df_all['Country of HE provider']].index, inplace=True)

In [27]:
#df_all

In [28]:
df_all.head(5)

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Total,Total,1345
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20

In [29]:
df_all.drop(df_all[df_all['Country of HE provider'] == ('All')].index,inplace=True)

In [30]:
df_all.drop(df_all[df_all['Region of HE provider'] == ('All')].index,inplace=True)

In [31]:
df_all.drop(df_all[df_all['Terms of employment'] == ('All')].index,inplace=True)

In [32]:
df_all.drop(df_all[df_all['Contract levels'] == ('All')].index,inplace=True)

In [33]:
df_eth = df_all[df_all['Category Marker'].str.contains("Ethnicity")==True]

In [34]:
df_eth = df_eth.reset_index(drop=True)
df_eth.drop('Category Marker', axis = 1,inplace = True)

In [35]:
df_eth.rename(columns = {'Category' :'Ethnicity'})

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Ethnicity,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,White,1095
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Black,25
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Asian,130
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Mixed,20
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Other,25
...,...,...,...,...,...,...,...,...,...,...,...
53098,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,White,55
53099,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,White,80
53100,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Asian,5
53101,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Mixed,5
53102,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Not known,5

In [36]:
df_eth

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,White,1095
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Black,25
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Asian,130
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Mixed,20
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Other,25
...,...,...,...,...,...,...,...,...,...,...,...
53098,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,White,55
53099,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,White,80
53100,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Asian,5
53101,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Mixed,5
53102,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Not known,5

In [37]:
df_sex = df_all[df_all['Category Marker'].str.contains("Sex")==True]

In [38]:
df_sex = df_sex.reset_index(drop=True)
df_sex.drop('Category Marker', axis = 1,inplace = True)

In [39]:
df_sex.rename(columns = {'Category' :'Sex'})

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Sex,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Female,650
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Male,695
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other senior academic,Non-atypical,Academic,2014/15,Female,10
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other senior academic,Non-atypical,Academic,2014/15,Male,15
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Professor,Non-atypical,Academic,2014/15,Female,55
...,...,...,...,...,...,...,...,...,...,...,...
29431,10007713,York St John University,England,Yorkshire and The Humber,Open-ended/Permanent,Professor,Non-atypical,All (excluding atypical),2020/21,Male,10
29432,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,Female,40
29433,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,Male,20
29434,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Female,45
29435,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Male,50

In [40]:
df_sex

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Female,650
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Male,695
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other senior academic,Non-atypical,Academic,2014/15,Female,10
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other senior academic,Non-atypical,Academic,2014/15,Male,15
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Professor,Non-atypical,Academic,2014/15,Female,55
...,...,...,...,...,...,...,...,...,...,...,...
29431,10007713,York St John University,England,Yorkshire and The Humber,Open-ended/Permanent,Professor,Non-atypical,All (excluding atypical),2020/21,Male,10
29432,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,Female,40
29433,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,Male,20
29434,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Female,45
29435,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Male,50

In [41]:
df_agegrp = df_all[df_all['Category Marker'].str.contains("Age group")==True]

In [42]:
df_agegrp = df_agegrp.reset_index(drop=True)
df_agegrp.drop('Category Marker', axis = 1,inplace = True)

In [43]:
df_agegrp.rename(columns = {'Category' :'Age group'})

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Age group,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,25 and under,30
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,26 - 30,165
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,31-35,250
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,36-40,230
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,41-45,220
...,...,...,...,...,...,...,...,...,...,...,...
102438,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,46-50,5
102439,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,51-55,5
102440,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,56-60,5
102441,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,61-65,5
102442,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,66 and over,5

In [44]:
df_agegrp

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,25 and under,30
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,26 - 30,165
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,31-35,250
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,36-40,230
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,41-45,220
...,...,...,...,...,...,...,...,...,...,...,...
102438,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,46-50,5
102439,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,51-55,5
102440,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,56-60,5
102441,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,61-65,5
102442,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,66 and over,5

In [45]:
df_disa = df_all[df_all['Category Marker'].str.contains("Disability")==True]

In [46]:
df_disa = df_disa.reset_index(drop=True)
df_disa.drop('Category Marker', axis = 1,inplace = True)

In [47]:
df_disa.rename(columns = {'Category' :'Disability'})

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Disability,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Known to be disabled,25
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,No known disability,1320
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other senior academic,Non-atypical,Academic,2014/15,No known disability,25
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Professor,Non-atypical,Academic,2014/15,Known to be disabled,5
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Professor,Non-atypical,Academic,2014/15,No known disability,250
...,...,...,...,...,...,...,...,...,...,...,...
24916,10007713,York St John University,England,Yorkshire and The Humber,Open-ended/Permanent,Professor,Non-atypical,All (excluding atypical),2020/21,No known disability,10
24917,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,Known to be disabled,10
24918,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Non-academic,Non-atypical,All (excluding atypical),2020/21,No known disability,50
24919,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,Known to be disabled,10
24920,10007713,York St John University,England,Yorkshire and The Humber,Fixed-term,Other contract level,Non-atypical,All (excluding atypical),2020/21,No known disability,85

In [48]:
df_eth.to_csv("UE_by Ethnicity.csv")
df_sex.to_csv("UE_by Sex.csv")
df_agegrp.to_csv("UE_by Age group.csv")
df_disa.to_csv("UE_by Disability.csv")