## This is to clean table_27 csv file

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('table_27.csv', low_memory=False)
df.head()

,Category Marker,Category,Country of HE Provider,Academic contract marker,Activity standard occupational classification,Number,Academic Year
0,Age Group,25 and under,England,Academic contract,"Managers, directors and senior officials",0,2014/15
1,Age Group,25 and under,England,Academic contract,Professional occupations,4245,2014/15
2,Age Group,25 and under,England,Academic contract,Associate professional and technical occupations,60,2014/15
3,Age Group,25 and under,England,Academic contract,Clerical and manual occupations,0,2014/15
4,Age Group,25 and under,England,Academic contract,Total academic staff,4305,2014/15

In [21]:
df_copy =df.copy()

In [22]:
df_copy.tail()

,Category Marker,Category,Country of HE Provider,Academic contract marker,Activity standard occupational classification,Number,Academic Year
11290,Total,Total,All,Non-academic contract,"Caring, leisure and other service occupations",6200,2020/21
11291,Total,Total,All,Non-academic contract,Sales and customer service occupations,1665,2020/21
11292,Total,Total,All,Non-academic contract,"Process, plant and machine operatives",1280,2020/21
11293,Total,Total,All,Non-academic contract,Elementary occupations,19745,2020/21
11294,Total,Total,All,Non-academic contract,Total non-academic staff,191440,2020/21

In [23]:
df_copy.isnull().sum()

Category Marker                                  0
Category                                         0
Country of HE Provider                           0
Academic contract marker                         0
Activity standard occupational classification    0
Number                                           0
Academic Year                                    0
dtype: int64

In [24]:
df_copy.dtypes

Category Marker                                  object
Category                                         object
Country of HE Provider                           object
Academic contract marker                         object
Activity standard occupational classification    object
Number                                            int64
Academic Year                                    object
dtype: object

In [25]:
#check for duplicates
df_copy.duplicated().sum()

0

In [26]:
#remove rows that have zero
df_copy = df_copy[df_copy.Number !=0]
df_copy.tail()

,Category Marker,Category,Country of HE Provider,Academic contract marker,Activity standard occupational classification,Number,Academic Year
11290,Total,Total,All,Non-academic contract,"Caring, leisure and other service occupations",6200,2020/21
11291,Total,Total,All,Non-academic contract,Sales and customer service occupations,1665,2020/21
11292,Total,Total,All,Non-academic contract,"Process, plant and machine operatives",1280,2020/21
11293,Total,Total,All,Non-academic contract,Elementary occupations,19745,2020/21
11294,Total,Total,All,Non-academic contract,Total non-academic staff,191440,2020/21

In [27]:
#remove rows that have the string "total"
df_copy = df_copy[df_copy['Category Marker'].str.contains("Total")==False]
df_copy.tail(9)

,Category Marker,Category,Country of HE Provider,Academic contract marker,Activity standard occupational classification,Number,Academic Year
10756,Sex,Other,All,Academic contract,Professional occupations,390,2020/21
10759,Sex,Other,All,Academic contract,Total academic staff,390,2020/21
10760,Sex,Other,All,Non-academic contract,"Managers, directors and senior officials",10,2020/21
10761,Sex,Other,All,Non-academic contract,Professional occupations,80,2020/21
10762,Sex,Other,All,Non-academic contract,Associate professional and technical occupations,70,2020/21
10763,Sex,Other,All,Non-academic contract,Administrative and secretarial occupations,105,2020/21
10765,Sex,Other,All,Non-academic contract,"Caring, leisure and other service occupations",5,2020/21
10768,Sex,Other,All,Non-academic contract,Elementary occupations,15,2020/21
10769,Sex,Other,All,Non-academic contract,Total non-academic staff,290,2020/21

In [28]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8864 entries, 1 to 10769
Data columns (total 7 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Category Marker                                8864 non-null   object
 1   Category                                       8864 non-null   object
 2   Country of HE Provider                         8864 non-null   object
 3   Academic contract marker                       8864 non-null   object
 4   Activity standard occupational classification  8864 non-null   object
 5   Number                                         8864 non-null   int64
 6   Academic Year                                  8864 non-null   object
dtypes: int64(1), object(6)
memory usage: 554.0+ KB

In [29]:
df_copy.describe()

              Number
count    8864.000000
mean     6631.892486
std     22550.727580
min         5.000000
25%        45.000000
50%       320.000000
75%      2485.000000
max    213145.000000

In [30]:
#check for unique values in category marker column
df_copy['Category Marker'].unique()

array(['Age Group', 'Disability status', 'Ethnicity', 'Nationality',
       'Sex'], dtype=object)

In [31]:
#check for unique values in category column
df_copy['Category'].unique()

array(['25 and under', '26-35', '36-45', '46-55', '56-65', '66 and over',
       'Known to have a disability', 'No known disability', 'White',
       'Black', 'Asian', 'Mixed', 'Other', 'Not known', 'UK',
       'European Union', 'Non-European Union', 'Female', 'Male'],
      dtype=object)

In [32]:
df_copy['Country of HE Provider'].unique()

array(['England', 'Northern Ireland', 'Scotland', 'Wales', 'All'],
      dtype=object)

In [33]:
df_copy['Academic contract marker'].unique()

array(['Academic contract', 'Non-academic contract'], dtype=object)

In [34]:
df_copy['Activity standard occupational classification'].unique()

array(['Professional occupations',
       'Associate professional and technical occupations',
       'Total academic staff',
       'Managers, directors and senior officials ',
       'Professional occupations ',
       'Associate professional and technical occupations ',
       'Administrative and secretarial occupations',
       'Skilled trades occupations',
       'Caring, leisure and other service occupations',
       'Sales and customer service occupations',
       'Process, plant and machine operatives', 'Elementary occupations',
       'Total non-academic staff',
       'Managers, directors and senior officials',
       'Clerical and manual occupations'], dtype=object)

In [35]:
#Delete rows that contain values "Total academic staff" and "Total non-academic staff"
df_copy = df_copy[df_copy['Activity standard occupational classification'].str.contains("Total academic staff|Total non-academic staff")==False]

In [36]:
df_copy['Activity standard occupational classification'].unique()

array(['Professional occupations',
       'Associate professional and technical occupations',
       'Managers, directors and senior officials ',
       'Professional occupations ',
       'Associate professional and technical occupations ',
       'Administrative and secretarial occupations',
       'Skilled trades occupations',
       'Caring, leisure and other service occupations',
       'Sales and customer service occupations',
       'Process, plant and machine operatives', 'Elementary occupations',
       'Managers, directors and senior officials',
       'Clerical and manual occupations'], dtype=object)

In [37]:
#remove whitespace from every string in the dataframe
def whitespace_remove(dataframe):
    for i in dataframe.columns:
        if dataframe[i].dtype == 'object':
            dataframe[i] = dataframe[i].map(str.strip)
        else:
            pass

In [38]:
whitespace_remove(df_copy)

In [39]:
df_copy['Activity standard occupational classification'].unique()

array(['Professional occupations',
       'Associate professional and technical occupations',
       'Managers, directors and senior officials',
       'Administrative and secretarial occupations',
       'Skilled trades occupations',
       'Caring, leisure and other service occupations',
       'Sales and customer service occupations',
       'Process, plant and machine operatives', 'Elementary occupations',
       'Clerical and manual occupations'], dtype=object)

In [40]:
df_copy.head()

,Category Marker,Category,Country of HE Provider,Academic contract marker,Activity standard occupational classification,Number,Academic Year
1,Age Group,25 and under,England,Academic contract,Professional occupations,4245,2014/15
2,Age Group,25 and under,England,Academic contract,Associate professional and technical occupations,60,2014/15
5,Age Group,25 and under,England,Non-academic contract,"Managers, directors and senior officials",45,2014/15
6,Age Group,25 and under,England,Non-academic contract,Professional occupations,1160,2014/15
7,Age Group,25 and under,England,Non-academic contract,Associate professional and technical occupations,3560,2014/15

In [41]:
df_copy.tail()

,Category Marker,Category,Country of HE Provider,Academic contract marker,Activity standard occupational classification,Number,Academic Year
10761,Sex,Other,All,Non-academic contract,Professional occupations,80,2020/21
10762,Sex,Other,All,Non-academic contract,Associate professional and technical occupations,70,2020/21
10763,Sex,Other,All,Non-academic contract,Administrative and secretarial occupations,105,2020/21
10765,Sex,Other,All,Non-academic contract,"Caring, leisure and other service occupations",5,2020/21
10768,Sex,Other,All,Non-academic contract,Elementary occupations,15,2020/21

In [42]:
#remove the value all in country of HE provider
df_copy = df_copy[df_copy['Country of HE Provider'].str.contains("All")==False]
df_copy.tail(9)

,Category Marker,Category,Country of HE Provider,Academic contract marker,Activity standard occupational classification,Number,Academic Year
10641,Sex,Other,England,Non-academic contract,Professional occupations,80,2020/21
10642,Sex,Other,England,Non-academic contract,Associate professional and technical occupations,70,2020/21
10643,Sex,Other,England,Non-academic contract,Administrative and secretarial occupations,95,2020/21
10645,Sex,Other,England,Non-academic contract,"Caring, leisure and other service occupations",5,2020/21
10648,Sex,Other,England,Non-academic contract,Elementary occupations,15,2020/21
10658,Sex,Other,Northern Ireland,Non-academic contract,Administrative and secretarial occupations,5,2020/21
10666,Sex,Other,Scotland,Academic contract,Professional occupations,10,2020/21
10672,Sex,Other,Scotland,Non-academic contract,Associate professional and technical occupations,5,2020/21
10681,Sex,Other,Wales,Academic contract,Professional occupations,15,2020/21

In [43]:
#Convert it to csv file
df_copy.to_csv('clean_table_27.csv',index=False)