In [1]:
#removing the all factor from the concated csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('table_2014_2021_clean.csv',skipinitialspace = True)
df.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095
1,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25
2,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130
3,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20
4,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Other,25

In [3]:
df_copy =df.copy()

In [4]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226923 entries, 0 to 2226922
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   UKPRN                   int64
 2   HE Provider             object
 3   Country of HE provider  object
 4   Region of HE provider   object
 5   Terms of employment     object
 6   Contract levels         object
 7   Atypical marker         object
 8   Contract marker         object
 9   Academic Year           object
 10  Category Marker         object
 11  Category                object
 12  Number                  int64
dtypes: int64(3), object(10)
memory usage: 220.9+ MB

In [5]:
#remove unamed column from the dataframe
df_copy =df_copy.drop("Unnamed: 0", axis=1)

In [6]:
df_copy.head()

,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095
1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25
2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130
3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20
4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Other,25

In [7]:
#find unique values in each column
df_copy['HE Provider'].unique()

array(['The University of Aberdeen', 'University of Abertay Dundee',
       'Aberystwyth University', 'Anglia Ruskin University',
       'Aston University', 'Bangor University', 'Bath Spa University',
       'The University of Bath', 'University of Bedfordshire',
       "The Queen's University of Belfast", 'Birkbeck College',
       'Birmingham City University', 'The University of Birmingham',
       'University College Birmingham', 'Bishop Grosseteste University',
       'The University of Bolton', 'The Arts University Bournemouth',
       'Bournemouth University', 'The University of Bradford',
       'The University of Brighton', 'The University of Bristol',
       'Brunel University London', 'Buckinghamshire New University',
       'The University of Buckingham', 'The University of Cambridge',
       'The Institute of Cancer Research',
       'Canterbury Christ Church University', 'Cardiff University',
       'Cardiff Metropolitan University',
       'The University of Central Lancashire', 'University of Chester',
       'The University of Chichester', 'The City University',
       'Conservatoire for Dance and Drama', 'Courtauld Institute of Art',
       'Coventry University', 'Cranfield University',
       'University for the Creative Arts', 'University of Cumbria',
       'De Montfort University', 'University of Derby',
       'The University of Dundee', 'University of Durham',
       'The University of East Anglia', 'The University of East London',
       'Edge Hill University', 'Edinburgh Napier University',
       'The University of Edinburgh', 'The University of Essex',
       'The University of Exeter', 'Falmouth University',
       'Glasgow Caledonian University', 'Glasgow School of Art',
       'The University of Glasgow', 'University of Gloucestershire',
       'Glyndŵr University ', 'Goldsmiths College',
       'The University of Greenwich',
       'Guildhall School of Music and Drama', 'Harper Adams University',
       'Heriot-Watt University', 'University of Hertfordshire',
       'Heythrop College', 'The University of Huddersfield',
       'The University of Hull',
       'Imperial College of Science, Technology and Medicine',
       'Institute of Education', 'The University of Keele',
       'The University of Kent', "King's College London",
       'Kingston University', 'The University of Lancaster',
       'Leeds College of Art', 'Leeds Beckett University',
       'The University of Leeds', 'Leeds Trinity University',
       'The University of Leicester', 'The University of Lincoln',
       'Liverpool Hope University', 'Liverpool John Moores University',
       'The Liverpool Institute for Performing Arts',
       'The University of Liverpool',
       'Liverpool School of Tropical Medicine',
       'University of the Arts, London', 'London Business School',
       'University of London (Institutes and activities)',
       'London Metropolitan University', 'London South Bank University',
       'London School of Economics and Political Science',
       'London School of Hygiene and Tropical Medicine',
       'Loughborough University',
       'The Manchester Metropolitan University',
       'The University of Manchester', 'Middlesex University',
       'University of Newcastle-upon-Tyne', 'Newman University',
       'The University of Northampton',
       'University of Northumbria at Newcastle',
       'Norwich University of the Arts', 'University of Nottingham',
       'The Nottingham Trent University', 'The Open University',
       'Oxford Brookes University', 'The University of Oxford',
       'Plymouth College of Art', 'University of Plymouth',
       'The University of Portsmouth',
       'Queen Margaret University, Edinburgh',
       'Queen Mary University of London',
       'Ravensbourne University London', 'The University of Reading',
       'The Robert Gordon University', 'Roehampton University',
       'Rose Bruford College', 'Royal Academy of Music',
       'Royal Agricultural University', 'Royal College of Art',
       'Royal College of Music', 'Royal Conservatoire of Scotland',
       'The Royal Central School of Speech and Drama',
       'Royal Holloway and Bedford New College',
       'Royal Northern College of Music', 'The Royal Veterinary College',
       'The University of St Andrews',
       "St George's Hospital Medical School",
       "St Mary's University College", "St Mary's University, Twickenham",
       'The University of Salford',
       'The School of Oriental and African Studies', 'SRUC',
       'Sheffield Hallam University', 'The University of Sheffield',
       'Solent University', 'The University of Southampton',
       'Staffordshire University', 'The University of Stirling',
       'University of St Mark and St John',
       'Stranmillis University College', 'The University of Strathclyde',
       'University Campus Suffolk', 'The University of Sunderland',
       'The University of Surrey', 'The University of Sussex',
       'Swansea University', 'Teesside University',
       'Trinity Laban Conservatoire of Music and Dance',
       'University of Wales Trinity Saint David',
       'University of the Highlands and Islands', 'University of Ulster',
       'University College London', 'University of South Wales',
       'The University of Wales (central functions)',
       'The University of Warwick',
       'University of the West of England, Bristol',
       'The University of the West of Scotland',
       'The University of West London', 'The University of Westminster',
       'The University of Winchester', 'The University of Wolverhampton',
       'University of Worcester', 'Writtle College',
       'York St John University', 'The University of York',
       'The National Film and Television School',
       "Queen's University Belfast", 'Ulster University',
       'The British School of Osteopathy', 'AECC University College',
       'The University College of Osteopathy', 'Leeds Arts University',
       'SOAS University of London', 'City, University of London',
       'Glyndŵr University', 'Hartpury University', 'Keele University',
       'Leeds College of Music', 'Newcastle University',
       'Rose Bruford College of Theatre and Performance',
       "St George's, University of London", 'University of Suffolk',
       'Writtle University College', 'Abertay University',
       'ACM Guildford Limited*', 'AECC University College*',
       'Arden University*', 'BIMM Limited*',
       'Birmingham City University*', 'The University of Birmingham*',
       'The University of Bolton*',
       'The University College of Osteopathy*',
       'Buckinghamshire New University*', 'The University of Buckingham*',
       'The University of Chichester*', 'Chicken Shed Theatre Company*',
       'Cliff College*', 'Conservatoire for Dance and Drama*',
       'Courtauld Institute of Art*',
       'Court Theatre Training Company Ltd*', 'Cranfield University*',
       'University for the Creative Arts*',
       "The Queen's Foundation for Ecumenical Theological Education*",
       'University College of Estate Management*', 'Falmouth University*',
       'The National Film and Television School*', 'Futureworks*',
       'University of Gloucestershire*', 'Harper Adams University*',
       'The University of Huddersfield*',
       'Institute of Contemporary Music Performance*', 'LAMDA Limited',
       'Leeds Conservatoire', 'Liverpool Hope University*',
       'The Liverpool Institute for Performing Arts*',
       'London Business School*',
       'University of London (Institutes and activities)*',
       'London Film School Limited*', 'London South Bank University*',
       'London School of Management Education*',
       'London School of Theology*',
       'The London Institute of Banking & Finance*',
       'Luther King House Educational Trust*', 'St Mellitus College*',
       'The Metanoia Institute*',
       'Mont Rose College of Management and Sciences*',
       'Moorlands College*', 'Nazarene Theological College*',
       'Nelson College London Ltd', 'New College of the Humanities*',
       'Norwich University of the Arts*', 'University of Nottingham*',
       'The Nottingham Trent University*', 'The Open University*',
       'Pearson College*', 'Plymouth College of Art*',
       'Royal Academy of Dramatic Art*', 'Robert Gordon University',
       'Rose Bruford College of Theatre and Performance*',
       'Royal Academy of Music*', 'Royal Agricultural University*',
       'Royal College of Music*', 'SAE Education Limited*',
       "Spurgeon's College*", 'Stranmillis University College*',
       'Trinity Laban Conservatoire of Music and Dance*',
       'Ulster University*', 'The University of Law*',
       'The University of West London*', 'Writtle University College*',
       'The University of York*', 'British Academy of Jewellery Limited*',
       'Backstage Academy (Training) Ltd*', 'Bloomsbury Institute*',
       'Central Film School London*',
       'ICON College of Technology and Management*',
       'Institute of Art - London Limited*',
       'Kaplan International Colleges U.K. Limited*',
       'Kaplan Open Learning*', 'Liverpool John Moores University*',
       'The London School of Architecture*',
       'The London Interdisciplinary School Ltd*',
       'New Model Institute for Technology and Engineering (NMITE)*',
       'University of Plymouth*', 'Point Blank Music School*',
       'Regent College*', 'The University of St. Andrews',
       'ThinkSpace Education Limited*', 'University Academy 92 Limited*',
       'Waverley Abbey College*'], dtype=object)

In [8]:
df_copy['Country of HE provider'].unique()

array(['Scotland', 'All', 'Wales', 'England', 'Northern Ireland'],
      dtype=object)

In [9]:
#remove all rows that have all 
df_copy = df_copy[df_copy['Country of HE provider'].str.contains("All")==False]
df_copy['Country of HE provider'].unique()

array(['Scotland', 'Wales', 'England', 'Northern Ireland'], dtype=object)

In [10]:
df_copy['Region of HE provider'].unique()

array(['Scotland', 'All', 'Wales', 'East of England', 'West Midlands',
       'South West', 'Northern Ireland', 'London', 'East Midlands',
       'North West', 'Yorkshire and The Humber', 'South East',
       'North East'], dtype=object)

In [11]:
#remove all rows that have all 
df_copy = df_copy[df_copy['Region of HE provider'].str.contains("All")==False]
df_copy['Region of HE provider'].unique()

array(['Scotland', 'Wales', 'East of England', 'West Midlands',
       'South West', 'Northern Ireland', 'London', 'East Midlands',
       'North West', 'Yorkshire and The Humber', 'South East',
       'North East'], dtype=object)

In [12]:
df_copy['Terms of employment'].unique()

array(['Open-ended/Permanent', 'Fixed-term', 'All', 'Atypical'],
      dtype=object)

In [13]:
#remove all rows that have all 
df_copy = df_copy[df_copy['Terms of employment'].str.contains("All")==False]
df_copy['Terms of employment'].unique()

array(['Open-ended/Permanent', 'Fixed-term', 'Atypical'], dtype=object)

In [14]:
df_copy['Contract levels'].unique()

array(['Other contract level', 'Other senior academic', 'Professor',
       'All', 'Non-academic'], dtype=object)

In [15]:
#remove all rows that have all 
df_copy = df_copy[df_copy['Contract levels'].str.contains("All")==False]
df_copy['Contract levels'].unique()

array(['Other contract level', 'Other senior academic', 'Professor',
       'Non-academic'], dtype=object)

In [16]:
df_copy['Atypical marker'].unique()

array(['Non-atypical', 'Academic atypical'], dtype=object)

In [17]:
df_copy['Academic Year'].unique()

array(['2014/15', '2015/16', '2016/17', '2017/18', '2018/19', '2019/20',
       '2020/21'], dtype=object)

In [18]:
df_copy['Category Marker'].unique()

array(['Ethnicity', 'Disability', 'Age group', 'Sex'], dtype=object)

In [19]:
df_copy['Category'].unique()

array(['White', 'Black', 'Asian', 'Mixed', 'Other ', 'Not known',
       'Known to be disabled', 'No known disability', '25 and under',
       '26 - 30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60',
       '61-65', '66 and over', 'Female', 'Male', 'Age Unknown', 'Other'],
      dtype=object)

In [20]:
df_copy.to_csv('clean_all_tablescombo.csv',index= False)