In [7]:
import pandas as pd
import numpy as np

#### Convert the csv to dataframe by the tab seperator and remove whitespace

In [8]:
df = pd.read_csv('table-4.csv',low_memory=False)
df.head()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
0,White,European Union,Fixed-term,Full-time,Female,2014/15,Teaching only,205
1,White,European Union,Fixed-term,Full-time,Female,2014/15,Research only,3020
2,White,European Union,Fixed-term,Full-time,Female,2014/15,Both teaching and research,360
3,White,European Union,Fixed-term,Full-time,Female,2014/15,Neither teaching nor research,10
4,White,European Union,Fixed-term,Full-time,Female,2014/15,Total,3595

In [9]:
#copy the dataframe so as to work with the copy 
df_copy =df.copy()

In [10]:
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
68015,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Teaching only,20
68016,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Research only,0
68017,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Both teaching and research,25
68018,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Neither teaching nor research,0
68019,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Total,45

In [11]:
df_copy.tail(100)

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
67920,Total academic staff,Non-European Union,Fixed-term,Part-time,Other,2020/21,Teaching only,20
67921,Total academic staff,Non-European Union,Fixed-term,Part-time,Other,2020/21,Research only,0
67922,Total academic staff,Non-European Union,Fixed-term,Part-time,Other,2020/21,Both teaching and research,0
67923,Total academic staff,Non-European Union,Fixed-term,Part-time,Other,2020/21,Neither teaching nor research,0
67924,Total academic staff,Non-European Union,Fixed-term,Part-time,Other,2020/21,Total,20
...,...,...,...,...,...,...,...,...
68015,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Teaching only,20
68016,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Research only,0
68017,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Both teaching and research,25
68018,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Neither teaching nor research,0
68019,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Total,45

In [12]:
#remove rows where the Number column is zero
df_copy = df_copy[df_copy.Number !=0]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
68012,Total academic staff,UK,Fixed-term,Part-time,Other,2020/21,Both teaching and research,5
68014,Total academic staff,UK,Fixed-term,Part-time,Other,2020/21,Total,35
68015,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Teaching only,20
68017,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Both teaching and research,25
68019,Total academic staff,UK,Open-ended/Permanent,Part-time,Other,2020/21,Total,45

In [13]:
#remove whitespace from every string in the dataframe
def whitespace_remove(dataframe):
    for i in dataframe.columns:
        if dataframe[i].dtype == 'object':
            dataframe[i] = dataframe[i].map(str.strip)
        else:
            pass

In [14]:
whitespace_remove(df_copy)

In [15]:
#remove rows that have "total academic staff" in ethnicity column
df_copy = df_copy[df_copy['Ethnicity'].str.contains("Total academic staff")==False]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
62509,Not known,UK,All,Part-time,Other,2019/20,Total,40
62510,Not known,UK,All,Part-time,Other,2020/21,Teaching only,20
62511,Not known,UK,All,Part-time,Other,2020/21,Research only,5
62512,Not known,UK,All,Part-time,Other,2020/21,Both teaching and research,5
62514,Not known,UK,All,Part-time,Other,2020/21,Total,35

In [16]:
#Remove rows that have the value "total" in Academic employment function
df_copy = df_copy[df_copy['Academic employment function'].str.contains("Total")==False]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
62506,Not known,UK,All,Part-time,Other,2019/20,Research only,5
62507,Not known,UK,All,Part-time,Other,2019/20,Both teaching and research,10
62510,Not known,UK,All,Part-time,Other,2020/21,Teaching only,20
62511,Not known,UK,All,Part-time,Other,2020/21,Research only,5
62512,Not known,UK,All,Part-time,Other,2020/21,Both teaching and research,5

In [17]:
#Find the unique values in each column
df_copy['Ethnicity'].unique()

array(['White', 'Black or Black British - Caribbean',
       'Black or Black British - African', 'Other Black background',
       'Asian or Asian British - Indian',
       'Asian or Asian British - Pakistani',
       'Asian or Asian British - Bangladeshi', 'Chinese',
       'Other Asian background', 'Mixed', 'Other',
       'Total of known ethnicity', 'Not known'], dtype=object)

In [18]:
#remove the row "total of known ethnicity" in Ethnicity column
df_copy = df_copy[df_copy['Ethnicity'].str.contains("Total of known ethnicity")==False]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
62506,Not known,UK,All,Part-time,Other,2019/20,Research only,5
62507,Not known,UK,All,Part-time,Other,2019/20,Both teaching and research,10
62510,Not known,UK,All,Part-time,Other,2020/21,Teaching only,20
62511,Not known,UK,All,Part-time,Other,2020/21,Research only,5
62512,Not known,UK,All,Part-time,Other,2020/21,Both teaching and research,5

In [19]:
df_copy['Ethnicity'].unique()

array(['White', 'Black or Black British - Caribbean',
       'Black or Black British - African', 'Other Black background',
       'Asian or Asian British - Indian',
       'Asian or Asian British - Pakistani',
       'Asian or Asian British - Bangladeshi', 'Chinese',
       'Other Asian background', 'Mixed', 'Other', 'Not known'],
      dtype=object)

In [20]:
df_copy['Nationality marker'].unique()

array(['European Union', 'Non-European Union', 'Not known', 'UK', 'All'],
      dtype=object)

In [21]:
df_copy['Terms of employment'].unique()

array(['Fixed-term', 'Open-ended/Permanent', 'All'], dtype=object)

In [22]:
df_copy['Mode of employment'].unique()

array(['Full-time', 'Part-time', 'All'], dtype=object)

In [23]:
df_copy['Sex'].unique()

array(['Female', 'Male', 'Other', 'All'], dtype=object)

In [24]:
df_copy['Academic year'].unique()

array(['2014/15', '2015/16', '2016/17', '2017/18', '2018/19', '2019/20',
       '2020/21'], dtype=object)

In [25]:
df_copy['Academic employment function'].unique()

array(['Teaching only', 'Research only', 'Both teaching and research',
       'Neither teaching nor research'], dtype=object)

In [26]:
#delete rows with the value 'All'
df_copy = df_copy[df_copy['Nationality marker'].str.contains("All")==False]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
62506,Not known,UK,All,Part-time,Other,2019/20,Research only,5
62507,Not known,UK,All,Part-time,Other,2019/20,Both teaching and research,10
62510,Not known,UK,All,Part-time,Other,2020/21,Teaching only,20
62511,Not known,UK,All,Part-time,Other,2020/21,Research only,5
62512,Not known,UK,All,Part-time,Other,2020/21,Both teaching and research,5

In [27]:
df_copy = df_copy[df_copy['Terms of employment'].str.contains("All")==False]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
59933,Not known,UK,Fixed-term,Part-time,All,2020/21,Neither teaching nor research,15
59935,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Teaching only,1560
59936,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Research only,235
59937,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Both teaching and research,590
59938,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Neither teaching nor research,10

In [28]:
df_copy = df_copy[df_copy['Mode of employment'].str.contains("All")==False]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
59933,Not known,UK,Fixed-term,Part-time,All,2020/21,Neither teaching nor research,15
59935,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Teaching only,1560
59936,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Research only,235
59937,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Both teaching and research,590
59938,Not known,UK,Open-ended/Permanent,Part-time,All,2020/21,Neither teaching nor research,10

In [29]:
df_copy = df_copy[df_copy['Sex'].str.contains("All")==False]
df_copy.tail()

,Ethnicity,Nationality marker,Terms of employment,Mode of employment,Sex,Academic year,Academic employment function,Number
58390,Not known,UK,Open-ended/Permanent,Full-time,Other,2020/21,Teaching only,5
58392,Not known,UK,Open-ended/Permanent,Full-time,Other,2020/21,Both teaching and research,30
58397,Not known,European Union,Open-ended/Permanent,Part-time,Other,2020/21,Both teaching and research,5
58400,Not known,UK,Open-ended/Permanent,Part-time,Other,2020/21,Teaching only,10
58402,Not known,UK,Open-ended/Permanent,Part-time,Other,2020/21,Both teaching and research,5

In [30]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5348 entries, 0 to 58402
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ethnicity                     5348 non-null   object
 1   Nationality marker            5348 non-null   object
 2   Terms of employment           5348 non-null   object
 3   Mode of employment            5348 non-null   object
 4   Sex                           5348 non-null   object
 5   Academic year                 5348 non-null   object
 6   Academic employment function  5348 non-null   object
 7   Number                        5348 non-null   int64
dtypes: int64(1), object(7)
memory usage: 376.0+ KB

In [31]:
df_copy.to_csv('clean_table_4.csv',index=False)