### Clean the table uk diversity data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2014 =pd.read_csv('table_2014_15_clean.csv',low_memory=False)
df_2015 =pd.read_csv('table_2015_16_clean.csv',low_memory=False)
df_2016 =pd.read_csv('table_2016_17_clean.csv',low_memory=False)
df_2017 =pd.read_csv('table_2017_18_clean.csv',low_memory=False)
df_2018 =pd.read_csv('table_2018_19_clean.csv',low_memory=False)
df_2019 =pd.read_csv('table_2019_20_clean.csv',low_memory=False)
df_2020 =pd.read_csv('table_2020_21_clean.csv',low_memory=False)

# Assess

In [3]:
df_2014.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Other,25

In [4]:
df_2015.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,White,1010
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Asian,130
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Other,25

In [5]:
df_2016.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,White,960
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,Black,20
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,Asian,120
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,Mixed,15
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2016/17,Ethnicity,Other,25

In [6]:
df_2017.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,White,920
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,Black,15
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,Asian,115
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,Mixed,15
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2017/18,Ethnicity,Other,20

In [7]:
df_2018.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,White,900
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,Black,15
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,Asian,115
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2018/19,Ethnicity,Other,20

In [8]:
df_2019.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,White,915
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,Asian,125
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2019/20,Ethnicity,Other,20

In [9]:
df_2020.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,White,925
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,Asian,135
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,Mixed,25
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2020/21,Ethnicity,Other,25

In [10]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322074 entries, 0 to 322073
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              322074 non-null  int64
 1   UKPRN                   322074 non-null  int64
 2   HE Provider             322074 non-null  object
 3   Country of HE provider  322074 non-null  object
 4   Region of HE provider   322074 non-null  object
 5   Terms of employment     322074 non-null  object
 6   Contract levels         322074 non-null  object
 7   Atypical marker         322074 non-null  object
 8   Contract marker         322074 non-null  object
 9   Academic Year           322074 non-null  object
 10  Category Marker         322074 non-null  object
 11  Category                322074 non-null  object
 12  Number                  322074 non-null  int64
dtypes: int64(3), object(10)
memory usage: 31.9+ MB

## Copy the dataframes before starting to clean

In [11]:
df_14 =df_2014.copy()
df_15 =df_2015.copy()
df_16 =df_2016.copy()
df_17 =df_2017.copy()
df_18 =df_2018.copy()
df_19 =df_2019.copy()
df_20 =df_2020.copy()

In [12]:
df_14.tail(20)

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
322054,525198,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Age group,56-60,10
322055,525199,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Age group,61-65,5
322056,525202,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Sex,Female,10
322057,525203,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Sex,Male,20
322058,525206,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,White,245
322059,525208,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Asian,10
322060,525209,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Mixed,5
322061,525210,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Other,5
322062,525211,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Not known,30
322063,525212,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Disability,Known to be disabled,5
322064,525213,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Disability,No known disability,285
322065,525217,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,36-40,5
322066,525218,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,41-45,40
322067,525219,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,46-50,80
322068,525220,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,51-55,45
322069,525221,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,56-60,45
322070,525222,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,61-65,40
322071,525223,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,66 and over,30
322072,525225,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Sex,Female,65
322073,525226,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Sex,Male,225

## Quality Issues

* Null values on the number column and ukprn column
* datatypes in the above column is wrong should be string and int respectively
* total values in the column HE provide, Category and Category maker

## Tidiness issues
* Data on the dataframes can be merged after cleaning
*

# Clean

### Define
* Remove rows with null values on UKPRN column

In [13]:
df_14 =df_14.dropna(subset =['UKPRN'])
df_14 =df_14.reset_index(drop=True)
df_15 =df_15.dropna(subset =['UKPRN'])
df_15 =df_15.reset_index(drop=True)
df_16 =df_16.dropna(subset =['UKPRN'])
df_16 =df_16.reset_index(drop=True)
df_17 =df_17.dropna(subset =['UKPRN'])
df_17 =df_17.reset_index(drop=True)
df_18 =df_18.dropna(subset =['UKPRN'])
df_18 =df_18.reset_index(drop=True)
df_19 =df_19.dropna(subset =['UKPRN'])
df_19 =df_19.reset_index(drop=True)
df_20 =df_20.dropna(subset =['UKPRN'])
df_20 =df_20.reset_index(drop=True)

### TEst

In [14]:
df_14.UKPRN.isnull().sum()

0

In [15]:
df_15.UKPRN.isnull().sum()

0

In [16]:
df_16.UKPRN.isnull().sum()

0

In [17]:
df_17.UKPRN.isnull().sum()

0

In [18]:
df_18.UKPRN.isnull().sum()

0

In [19]:
df_19.UKPRN.isnull().sum()

0

In [20]:
df_20.UKPRN.isnull().sum()

0

## Define
* Convert the UKPRN column in each dataframe from float to int then string

### Code

In [21]:
df_14['UKPRN'] =df_14['UKPRN'].astype(int)

### Test

In [22]:
df_14.head(2)

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25

In [23]:
df_15['UKPRN'] =df_15['UKPRN'].astype(int)
df_16['UKPRN'] =df_16['UKPRN'].astype(int)
df_17['UKPRN'] =df_17['UKPRN'].astype(int)
df_18['UKPRN'] =df_18['UKPRN'].astype(int)
df_19['UKPRN'] =df_19['UKPRN'].astype(int)
df_20['UKPRN'] =df_20['UKPRN'].astype(int)

### Define
* Converting column Number from float to int

In [24]:
df_14 =df_14.dropna(subset =['Number'])
df_14 =df_14.reset_index(drop=True)
df_15 =df_15.dropna(subset =['Number'])
df_15 =df_15.reset_index(drop=True)
df_16 =df_16.dropna(subset =['Number'])
df_16 =df_16.reset_index(drop=True)
df_17 =df_17.dropna(subset =['Number'])
df_17 =df_17.reset_index(drop=True)
df_18 =df_18.dropna(subset =['Number'])
df_18 =df_18.reset_index(drop=True)
df_19 =df_19.dropna(subset =['Number'])
df_19 =df_19.reset_index(drop=True)
df_20 =df_20.dropna(subset =['Number'])
df_20 =df_20.reset_index(drop=True)

In [25]:
df_14['Number'] =df_14['Number'].astype(int)
df_15['Number'] =df_15['Number'].astype(int)
df_16['Number'] =df_16['Number'].astype(int)
df_17['Number'] =df_17['Number'].astype(int)
df_18['Number'] =df_18['Number'].astype(int)
df_19['Number'] =df_19['Number'].astype(int)
df_20['Number'] =df_20['Number'].astype(int)

In [26]:
df_14.Number.isnull().sum()

0

In [27]:
df_14.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Other,25

In [28]:
df_14.tail(20)

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
322054,525198,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Age group,56-60,10
322055,525199,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Age group,61-65,5
322056,525202,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Sex,Female,10
322057,525203,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Sex,Male,20
322058,525206,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,White,245
322059,525208,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Asian,10
322060,525209,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Mixed,5
322061,525210,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Other,5
322062,525211,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Not known,30
322063,525212,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Disability,Known to be disabled,5
322064,525213,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Disability,No known disability,285
322065,525217,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,36-40,5
322066,525218,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,41-45,40
322067,525219,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,46-50,80
322068,525220,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,51-55,45
322069,525221,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,56-60,45
322070,525222,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,61-65,40
322071,525223,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,66 and over,30
322072,525225,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Sex,Female,65
322073,525226,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Sex,Male,225

### Define
* Remove rows that have 0 as values in Number column

In [29]:
df_14 = df_14[df_14.Number !=0]
df_14.tail(20)

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
322054,525198,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Age group,56-60,10
322055,525199,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Age group,61-65,5
322056,525202,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Sex,Female,10
322057,525203,10007167,The University of York,England,Yorkshire and The Humber,All,Other senior academic,Non-atypical,All (excluding atypical),2014/15,Sex,Male,20
322058,525206,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,White,245
322059,525208,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Asian,10
322060,525209,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Mixed,5
322061,525210,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Other,5
322062,525211,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Ethnicity,Not known,30
322063,525212,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Disability,Known to be disabled,5
322064,525213,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Disability,No known disability,285
322065,525217,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,36-40,5
322066,525218,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,41-45,40
322067,525219,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,46-50,80
322068,525220,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,51-55,45
322069,525221,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,56-60,45
322070,525222,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,61-65,40
322071,525223,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Age group,66 and over,30
322072,525225,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Sex,Female,65
322073,525226,10007167,The University of York,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2014/15,Sex,Male,225

In [30]:
df_15 = df_15[df_15.Number !=0]
df_16 = df_16[df_16.Number !=0]
df_17 = df_17[df_17.Number !=0]
df_18 = df_18[df_18.Number !=0]
df_19 = df_19[df_19.Number !=0]
df_20 = df_20[df_20.Number !=0]

In [31]:
df_15.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,White,1010
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Asian,130
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Other,25

## Define
* Delete rows that have "total" in the category annd the 'category marker' column

In [32]:
df_15 = df_15[df_15['Category Marker'].str.contains("Total")==False]
df_15.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,White,1010
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Asian,130
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2015/16,Ethnicity,Other,25

**Apply to the other dataframes**

In [33]:
df_14 = df_14[df_14['Category Marker'].str.contains("Total")==False]
df_16 = df_16[df_16['Category Marker'].str.contains("Total")==False]
df_17 = df_17[df_17['Category Marker'].str.contains("Total")==False]
df_18 = df_18[df_18['Category Marker'].str.contains("Total")==False]
df_19 = df_19[df_19['Category Marker'].str.contains("Total")==False]
df_20 = df_20[df_20['Category Marker'].str.contains("Total")==False]

**Check for Duplicate rows**

In [34]:
df_14.duplicated().sum()

0

In [35]:
df_15.duplicated().sum()

0

In [36]:
df_16.duplicated().sum()

0

In [37]:
df_17.duplicated().sum()

0

In [38]:
df_18.duplicated().sum()

0

In [39]:
df_19.duplicated().sum()

0

In [40]:
df_18.duplicated().sum()

0

In [41]:
#Check for unique values in Atypical marker column
df_14['Atypical marker'].unique()

array(['Non-atypical', 'Academic atypical'], dtype=object)

In [42]:
df_14['Contract levels'].unique()

array(['Other contract level', 'Other senior academic', 'Professor',
       'All', 'Non-academic'], dtype=object)

In [43]:
df_14.isnull().sum()

Unnamed: 0                0
UKPRN                     0
HE Provider               0
Country of HE provider    0
Region of HE provider     0
Terms of employment       0
Contract levels           0
Atypical marker           0
Contract marker           0
Academic Year             0
Category Marker           0
Category                  0
Number                    0
dtype: int64

In [44]:
df_14['Contract marker'].unique()

array(['Academic', 'Non-academic', 'All (excluding atypical)'],
      dtype=object)

In [45]:
#concat the 7 dataframes
df_all =pd.concat([df_14,df_15,df_16,df_17,df_18,df_19,df_20], ignore_index = True)
df_all.head()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
0,1,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,White,1095
1,2,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Black,25
2,3,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Asian,130
3,4,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Mixed,20
4,5,10007783,The University of Aberdeen,Scotland,Scotland,Open-ended/Permanent,Other contract level,Non-atypical,Academic,2014/15,Ethnicity,Other,25

In [46]:
df_all.tail()

,Unnamed: 0,UKPRN,HE Provider,Country of HE provider,Region of HE provider,Terms of employment,Contract levels,Atypical marker,Contract marker,Academic Year,Category Marker,Category,Number
2226918,495398,10007713,York St John University,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Ethnicity,White,10
2226919,495405,10007713,York St John University,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Disability,No known disability,10
2226920,495415,10007713,York St John University,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Age group,66 and over,5
2226921,495417,10007713,York St John University,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Sex,Female,5
2226922,495418,10007713,York St John University,England,Yorkshire and The Humber,All,Professor,Non-atypical,All (excluding atypical),2020/21,Sex,Male,10

In [47]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226923 entries, 0 to 2226922
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   UKPRN                   int64
 2   HE Provider             object
 3   Country of HE provider  object
 4   Region of HE provider   object
 5   Terms of employment     object
 6   Contract levels         object
 7   Atypical marker         object
 8   Contract marker         object
 9   Academic Year           object
 10  Category Marker         object
 11  Category                object
 12  Number                  int64
dtypes: int64(3), object(10)
memory usage: 220.9+ MB

In [48]:
df_all.describe()

         Unnamed: 0         UKPRN        Number
count  2.226923e+06  2.226923e+06  2.226923e+06
mean   2.633162e+05  1.000692e+07  1.808254e+02
std    1.460289e+05  5.407011e+03  4.711257e+02
min    1.000000e+00  1.000016e+07  5.000000e+00
25%    1.450300e+05  1.000539e+07  1.000000e+01
50%    2.601510e+05  1.000716e+07  4.000000e+01
75%    3.870670e+05  1.000780e+07  1.400000e+02
max    5.320340e+05  1.008274e+07  1.464000e+04

In [49]:
#Convert all the dataframes to csv
df_14.to_csv("table_2014_15_clean.csv")
df_15.to_csv("table_2015_16_clean.csv")
df_16.to_csv("table_2016_17_clean.csv")
df_17.to_csv("table_2017_18_clean.csv")
df_18.to_csv("table_2018_19_clean.csv")
df_19.to_csv("table_2019_20_clean.csv")
df_20.to_csv("table_2020_21_clean.csv")
df_all.to_csv("table_2014_2021_clean.csv")

KeyboardInterrupt: